@charset "ISO-8859-1";

.clf {
	border: 3px solid whitesmoke;
	background-color: midnightblue;
	color: white;
	border-radius: 17px;
}
.row{
    padding:1%;
}
.clf:hover {
	border: 3px solid #400040;
	background-color: #ffffff;
	color: #400040;
	border-radius: 17px;
}
.clfa {
	border: 3px solid whitesmoke;
	background-color: green;
	color: white;
	border-radius: 17px;
}

.clfa:hover {
	border: 3px solid #400040;
	background-color: #ffffff;
	color: #400040;
	border-radius: 17px;
}

.fol {
	border: 3px solid whitesmoke;
	background-color: black;
	color: white;
	border-radius: 17px;
}

.fol:hover {
	border: 3px solid #400040;
	background-color: #ffffff;
	color: #400040;
	border-radius: 17px;
}

.inp{
   color: white; 
   background: black;
}
.inp:hover{
    color: #400040;
    background:white;
}
.container {
    height: auto;
    padding: 4%;
    box-shadow: 5px 10px 6px 5px #888888;
    margin-top: 6%;
}

.cre {
	border: 3px solid whitesmoke;
	background-color: midnightblue;
	color: white;
	border-radius: 17px;
}

.cre:hover {
	border-radius: 17px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.logout {
		padding-left: 71%;
		font-size: 21px;
		color: white;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.logout {
		padding-left: 83%;
		font-size: 23px;
		color: white;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.logout {
		padding-left: 84%;
		font-size: 23px;
		color: white;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.logout {
		padding-left: 85%;
		font-size: 25px;
		color: white;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.logout {
		padding-left: 88%;
		font-size: 25px;
		color: white;
	}
}
.model{
	position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin-top: 57px;
}
.model-content{
	background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* border: 1px solid #888; */
    width: 28%;
    box-shadow: 10px 16px 18px 4px rgb(0 0 0 / 56%);
}
.closepop{
    float: right;
    color: black;
    font-weight: bold;
    font-size: 32px;
    padding-right: 20px;
}
.closepop:hover{
     float: right;
    color: red;
    font-weight: bold;
    font-size: 32px;
    padding-right: 20px;
}